@model HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header border-0">
                            <h3 class="mb-0">Statement of accounts</h3>
                        </div>
                        <!-- Light table -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="sort" data-sort="name">Date</th>
                                        <th scope="col" class="sort" data-sort="budget">Description</th>
                                        <th scope="col" class="sort" data-sort="status">Type</th>
                                        <th scope="col" class="sort" data-sort="completion">Amount</th>
                                        <th scope="col" class="sort" data-sort="completion">Source Account</th>
                                        <th scope="col" class="sort" data-sort="completion">Status</th>


                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="list">
                                    @foreach (var transaction in Model?.Transactions)
                                    {
                                    <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">

                                                <div class="media-body">
                                                    <span class="name mb-0 text-sm">@transaction.TransactionDate.ToString("MM/dd/yyyy H:mm")</span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="budget">
                                            @transaction.Description
                                        </td>
                                        <td>
                                            <span class="badge badge-dot mr-4">

                                                <span class="status">@transaction.Type.ToString()</span>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                @string.Format("{0:c}", transaction.Amount)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                @transaction.SourceAccount
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge badge-dot mr-4">
                                                @{
                                                    if (transaction.Status == OnlineBanking.Core.Domain.TransctionStatus.Successful)
                                                    {
                                                        <i class="bg-success"></i>
                                                    }
                                                    else
                                                    {

                                                        <i class="bg-warning"></i>
                                                    }
                                                }
                                            <span class="status">@transaction.Status.ToString()</span>
                                                
                                            </span>
                                        </td>


                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- Card footer -->
                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end mb-0">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">
                                            <i class="fas fa-angle-left"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">
                                            <i class="fas fa-angle-right"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dark table -->

            <!-- Footer -->
            <footer class="footer pt-0">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6">
                        <div class="copyright text-center  text-lg-left  text-muted">
                            &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>

    <!-- Argon Scripts -->
  