@model HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{ 
<style>
    .container{
        display:flex;
    }
   .container .card{
        flex-basis:250px;
        height:150px;
        padding:30px 30px;
        justify-content:center;
        margin-right:50px;
    }
</style>

}

        <!-- Page content -->
    <div class="container-fluid mt--6">

        <div class="container">
            
            <div class="card bg-info text-white">
                <h3>Account Balance</h3>
                <div class="card-body"> @string.Format("{0:c}", Model.Balance)</div>
            </div>
            
            <div class="card bg-dark text-white">
                <h3 style="color:white">Last Transaction</h3>
                @{ 
                    string amount = $"{string.Format("{0:c}", Model.LastTransaction.Amount)} ({Model.LastTransaction.Type.ToString()})";
                                <div class="card-body">@amount</div>
                    }
                
            </div>
            
            <br>
            
        </div>


        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Statement of accounts</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Date</th>
                                    <th scope="col" class="sort" data-sort="budget">Description</th>
                                    <th scope="col" class="sort" data-sort="status">Type</th>
                                    <th scope="col" class="sort" data-sort="completion">Amount</th>
                                    <th scope="col" class="sort" data-sort="completion">Source Account</th>
                                    <th scope="col" class="sort" data-sort="completion">Status</th>


                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var transaction in Model?.Transactions)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="media align-items-center">

                                                <div class="media-body">
                                                    <span class="name mb-0 text-sm">@transaction.TransactionDate.ToString("MM/dd/yyyy H:mm")</span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="budget">
                                            @transaction.Description
                                        </td>
                                        <td>
                                            <span class="badge badge-dot mr-4">

                                                <span class="status">@transaction.Type.ToString()</span>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                @string.Format("{0:c}", transaction.Amount)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="avatar-group">
                                                @transaction.SourceAccount
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge badge-dot mr-4">
                                                @{
                                                    if (transaction.Status == OnlineBanking.Core.Domain.TransctionStatus.Successful)
                                                    {
                                                        <i class="bg-success"></i>
                                                    }
                                                    else
                                                    {

                                                        <i class="bg-warning"></i>
                                                    }
                                                }
                                                <span class="status">@transaction.Status.ToString()</span>

                                            </span>
                                        </td>


                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table -->
        <!-- Footer -->
        <footer class="footer pt-0">
         
        </footer>
    </div>

    <!-- Argon Scripts -->
  